.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #242424;
  overflow: hidden;
}

.content {
  text-align: center;
  color: #fff;
}

h1 {
  color: #646cff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

p {
  color: #666;
  font-size: 1.2rem;
  margin: 0;
} 